
@{
    ViewData["Title"] = "MembershipPaymentsReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .dataTables_filter {
        visibility: hidden !important;
    }
</style>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="form-group">
                    <h3 class="card-title">View Membership Payments</h3>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Branch</label>
                            <div class="col-md-12 col-sm-12 ">
                                <select class="form-control" id="Branch"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Year</label>
                            <div class="col-md-12 col-sm-12 ">
                                <select class="form-control" id="Year"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Month</label>
                            <div class="col-md-12 col-sm-12 ">
                                <select class="form-control" id="Month"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Member Name</label>
                            <div class="col-md-12 col-sm-12 ">
                                <input type="text" id="MName" class="form-control" placeholder="Member Name">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer table-responsive">
                <table id="tblMember" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Member Id</th>
                            <th>Name</th>
                            <th>Member Package</th>
                            <th>Package Amount</th>
                            <th>Payment Date</th>
                            <th>Payment Status</th>
                      
                        </tr>
                    </thead>
                  
                </table>
                <div class="msg-block" id="noRecords">
                    <label>No Records found.</label>
                </div>
            </div>
            <div id="wait" class="loading-gif"><img src="~/dist/img/Loading.gif" width="70" height="70" /><br></div>
        </div>
    </div>

    <input type="hidden" id="GetBranchDetails" value="@Url.Action("GetBranchDetails", "Membership")" />
    <input type="hidden" id="LoadAllMembershipPayments" value="@Url.Action("LoadAllMembershipPayments", "PaymentsExpenses")" />
    <input type="hidden" id="DeletePartialPaymentById" value="@Url.Action("DeletePartialPaymentById", "PaymentsExpenses")" />
    <input type="hidden" id="DeleteMembershipPaymentById" value="@Url.Action("DeleteMembershipPaymentById", "PaymentsExpenses")" />
    <input type="hidden" id="GetStartandEndYear" value="@Url.Action("GetStartandEndYear", "PaymentsExpenses")" />
    <input type="hidden" id="delete" value="@ViewBag.Delete" />
</div>

<script src="~/plugins/DataTableNew/datatables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.debug.js"></script>
<script src="~/plugins/DataTableNew/Buttons-1.5.6/js/dataTables.buttons.min.js"></script>
<script src="~/plugins/DataTableNew/Buttons-1.5.6/js/buttons.bootstrap4.min.js"></script>
<script src="~/plugins/DataTableNew/jszip.min.js"></script>
<script src="~/plugins/DataTableNew/pdfmake.min.js"></script>
<script src="~/plugins/DataTableNew/vfs_fonts.js"></script>
<script src="~/plugins/DataTableNew/Buttons-1.5.6/js/buttons.html5.js"></script>
<script src="~/plugins/DataTableNew/Buttons-1.5.6/js/buttons.print.js"></script>
<script src="~/js/report.membershipPayment.js"></script>